<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-top">
    <h2>Log in to your account</h2>
  </div>

  <div class="login-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item slot="none">
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item slot="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" clearOnEdit="false"></ion-input>
      </ion-item>

      <ion-button expand="block" [disabled]="!loginForm.valid" type="submit">
        <ion-text><strong>Sign in</strong></ion-text>
      </ion-button>
    </form>

  </div>

</ion-content>
